<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body id="app">
  
</body>
<script src="dll/dll.vendor.js" ></script>
</html>